body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  color: #000000;
}

.board {
  background-color: #fff;
  border-radius: 8px;
  margin: auto;
  width: 90%;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #000000;
}

th {
  background-color: #000000;
  color: white;
}

h1 {
  color: #000000;
}

td.right-align {
  text-align: right;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
